/* Estilos generales */
body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}
  
  /* Encabezado */
.header {
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header h1 {
    margin: 0;
    color: #e50914;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  
  
  .logout-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Formulario de filtros */
  .filter-form {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .filter-form form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .filter-form input, .filter-form select, .filter-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
  }
  
  .filter-form button {
    background-color: #e50914;
    cursor: pointer;
  }
  
  /* Cuadrícula de películas */
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  
  .movie-card {
    background-color: #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .movie-info {
    padding: 15px;
    color: #f0f0f0;
  }
  
  .movie-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .movie-info p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .view-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
  }
  