<div class="container">

    <div class="header">
        <h1 >Streaming</h1>
        <button class="logout-button">Salir</button>
    </div>
    <div class="filter-form">
      <form>
        <input type="text" [(ngModel)]="filters.name" name="name" placeholder="Buscar por nombre...">
        <select [(ngModel)]="filters.type" name="type">
          <option value="">Todos los tipos</option>
          <option value="MOVIE">Películas</option>
          <option value="SERIES">Series</option>
        </select>
        <select [(ngModel)]="filters.genre" name="genre">
          <option value="">Todos los géneros</option>
          <option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</option>
        </select>
        <select [(ngModel)]="filters.score" name="score">
          <option value="">Todas las calificaciones</option>
          <option *ngFor="let score of [1, 2, 3, 4, 5]" [value]="score">{{ score }}</option>
        </select>
        <button type="button" (click)="applyFilters()">Aplicar filtros</button>
        <button type="button" (click)="clearFilters()">Limpiar filtros</button>
      </form>
    </div>
    <div class="movie-grid">
      <div *ngFor="let movie of movies" class="movie-card">
        <div class="movie-info">
          <h3>{{ movie.name }}</h3>
          <p>{{ movie.type }} - {{ movie.score }}</p>
        </div>
        <button class="view-button">Ver</button>
      </div>
    </div>
  </div>
  